.left-view{
    margin-top: 50px;
    width: 12%;
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    margin-left: 10px;
    border: 2px;
}
.datas{
    width: 87%;
    height: auto;
    margin-top: 10px;
}
.details{
    display: flex;
    flex-direction: row;
}
.titl{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #b8b9b7;
    margin-top: 0;
}
.h4{
    text-align: center;
}
ul{

    gap: 5px;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: center;
    padding: 5px;
}
li:hover{
    border-radius: 5px;
    background-color: aqua;
}